<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ activite.getNomActivite() }}</title>
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse bg-faded navbar-fixed-top">
    <p href="#" class="navbar-brand mb-0">Exia Cesi Arras <br/><a href="index.html.twig">Campus Activité BDE</a></p>
</nav>


<div class="jumbotron" id="main-jumbo">
    <div class="container-fluid text-center">
        <h1 id="titre">BDE EXIA ARRAS</h1>
    </div>
</div>
<div>
    <h2 id="Activité">Activité : {{ activite.getNomActivite() }}</h2>
</div>

<div class="col-sm-6 col-md-6 col-lg-7">
    <p>Description :</p>
    <p>{{ activite.getDescriptionActivite }}</p> -->
</div>


<form action="" method="post">
    <input id="someSwitchOptionDanger10" name="inscription" type="checkbox"/>
    <input type="submit" value="Je m'inscris"/>
    <input type="submit" value="Retour" onclick="self.location.href='index.html.twig'"/>
</form>

<label>Participant:</label>


{% for inscrit in inscrits %}
    <div class="col-sm-6 col-md-6 col-lg-7">
    {{ inscrit.getIdUsers().getNomUsers() }} -- {{ inscrit.getIdUsers().getPrenomUsers() }}
    </div>
{% endfor %}



<div class="col-sm-6 col-md-6 col-lg-7">
{% for com in comment %}
    {{ com.getIdUsers().getNomUsers() }}
    {{ com.getIdUsers().getPrenomUsers() }}
    {{ com.getTextComment() }}
{% endfor %}
</div>


<form action="" method="post">
    <textarea name="Comment" rows="5" cols="20">Ecrivez votre commentaire</textarea>
    <button type="submit">Commentez</button>
</form>

<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="img"/>
    <button type="submit" class="btn btn-danger">Valider
    </button>
</form>



{% for photo in photos %}

    auteur:{{ photo.getIdUsers().getNomUsers() }}
    <img src="{{ asset(photo.getUrlPhoto()) }}" alt="{{ photo.getAltPhoto() }}">

{% endfor %}
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <a href="#"><img src="Photo/facebook-icon.png" alt="Facebook Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/twitter-icon.png" alt="Twitter Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/youtube-icon.png" alt="Youtube Logo" class="icons pull-right"></a>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>