<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BDE</title>
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>


<body>

<nav class="navbar navbar-inverse bg-faded navbar-fixed-top" id="nav-top">
    <a href="{{ path('bde_site_layout')}}" class="navbar-brand mb-0">Exia Cesi Arras<br/>Boutique</a>
    <div class="container">

        <p class="pull-right name-nav">Bonjour </p>
    </div>
</nav>

<div class="navbar navbar-inverse">
    <a href="{{ path('bde_site_layout')}}" class="navbar-brand mb-0">Liste activités</a>
    <a href="{{ path('bde_site_layout_activiteproposer')}}" class="navbar-brand mb-0"> Activité proposée </a>
</div>

{% for article in boutique %}

    <article class="col-sm-4 col-md-4 col-lg-4">
        <h3 class="col-sm-12 col-md-12 col-lg-12">{{ article.getNomArticle() }}</h3>
        <img src="{{ asset(article.getImage()) }}" style="width: 200px;">


        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label>Prix</label>
            <p>{{article.getPrixArticle() }} €</p>
        </div>



    </article>

{% endfor %}

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>

                <li><a href="{{ path('bde_site_gestion_boutique')}}">Boutique</a></li>
            </ul>
            <a href="#"><img src="{{ asset('ressources/Photo/facebook-icon.png') }}" alt="Facebook Logo"
                             class="icons pull-right"></a>
            <a href="#"><img src=" {{ asset('ressources/Photo/twitter-icon.png') }}" alt="Twitter Logo"
                             class="icons pull-right"></a>
            <a href="#"><img src="{{ asset('ressources/Photo/youtube-icon.png') }}" alt="Youtube Logo"
                             class="icons pull-right"></a>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>