<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>


<body>

<nav class="navbar navbar-inverse bg-faded navbar-fixed-top" id="nav-top">
    <a href="layout" class="navbar-brand mb-0">Exia Cesi Arras<br/>Campus Activité BDE</a>
</nav>

<div class="navbar navbar-inverse">
    <p href="#" class="navbar-brand mb-0">Inscription</p>
</div>

{{ error }}

<div class="col-sm-4 col-md-4 col-lg-4">
    <form action="register" class="form-horizontal" method="post">
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="Nom">Nom :</label>
            <input type="text" class="form-control" name="Nom" id="Nom"/>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="Prénom">Prénom :</label>
            <input type="text" class="form-control" name="Prenom" id="Prénom"/>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="Email">Email :</label>
            <input type="email" class="form-control" name="Email" id="Email"/>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="Password">Mot de Passe :</label>
            <input type="Password" class="form-control" name="Password" id="Password">
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="CPassword">Confirmation du Mot de Passe :</label>
            <input type="Password" class="form-control" s name="CPassword" id="CPassword">
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <form method="post" action="page.php" enctype="multipart/form-data">
                <input type="file" name="nom"/>
            </form>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <button type="submit" class="btn btn-danger">Valider
            </button>
        </div>
    </form>
</div>

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <a href="#"><img src="Photo/facebook-icon.png" alt="Facebook Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/twitter-icon.png" alt="Twitter Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/youtube-icon.png" alt="Youtube Logo" class="icons pull-right"></a>
        </div>
    </div>
</footer>

</body>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}


</html>