<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>BDE</title>
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse bg-faded navbar-fixed-top">
    <a href="layout" class="navbar-brand mb-0">Exia Cesi Arras <br/><a href="index.html.twig">Gestion des droits</a></a>
</nav>

<div class="navbar navbar-inverse">
    <p href="#" class="navbar-brand mb-0">Liste des utilisateurs</p>
</div>

{% for user in users %}

    <article class="col-sm-4 col-md-4 col-lg-4">
        <h3 class="col-sm-12 col-md-12 col-lg-12">{{ user.getNomUsers() }} {{ user.getPrenomUsers() }}</h3>
        <h4>{{ user.getEmailUsers() }}</h4>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label>{{ user.getRoleUsers() }}</label>
            <div class="material-switch pull-right">
                <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
                <label for="someSwitchOptionDanger" class="label-danger"></label>
            </div>
        </div>
    </article>

{% endfor %}

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="{{ path('bde_site_mentionslegales')}}">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <a href="#"><img src="Photo/facebook-icon.png" alt="Facebook Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/twitter-icon.png" alt="Twitter Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/youtube-icon.png" alt="Youtube Logo" class="icons pull-right"></a>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>