<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
    <title>Site Web du BDE</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>


<body>
<nav class="navbar navbar-inverse bg-faded navbar-fixed-top" id="nav-top">
    <p href="#" class="navbar-brand mb-0">Exia Cesi Arras<br/>Campus Activité BDE</p>
</nav>

<div class="jumbotron" id="main-jumbo">
    <div class="container-fluid text-center">
        <h1 id="titre">BDE EXIA ARRAS</h1>
    </div>
</div>

{{ text }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8" id="para-left">
            <p>Ce site est réservé aux étudiants, membres du BDE et aux encadrants de l'Exia CESI.</p>
            <p>sur ce site vous pourrez:</p>
            <ul>
                <li>Voir les différentes activités proposées</li>
                <li>Postuler pour participer aux activités</li>
                <li>Soumettre des activités</li>
                <li>Accéder à la boutique des goodies de l'Exia</li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="login" class="form-horizontal" method="post">
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <label for="">Email: </label>
                    <input type="email" class="form-control" id="email" name="Email">
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <label for="">Mot de Passe: </label>
                    <input type="password" class="form-control" id="password" name="Password">
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-danger">Connexion</button>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <a href="register" target="_blank">Cliquez ici pour vous inscrire</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicateurs-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!--Insertions des images-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('ressources/image/photo.jpg')}}"  alt="image0" width="500" height="500">

                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="{{ asset('ressources/Photo/facebook-icon.png') }}" alt="image1" width="500" height="auto">
                <!-- Message sous la photo -->
                <div class="carousel-caption">
                    <h3>Titre </h3>
                    <p>Description</p>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('ressources/Photo/facebook-icon.png')}}"  alt="image2" width="500" height="auto">
                <!-- Message sous la photo -->
                <div class="carousel-caption">
                    <h3>Titre</h3>
                    <p>Description</p>
                </div>
            </div>
        </div>

        <!-- Bouttons pour changer d'image  -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <a href="#"><img src="{{ asset('ressources/Photo/facebook-icon.png') }}" alt="Facebook Logo" class="icons pull-right"></a>
            <a href="#"><img src=" {{ asset('ressources/Photo/twitter-icon.png') }}" alt="Twitter Logo" class="icons pull-right"></a>
            <a href="#"><img src="{{ asset('ressources/Photo/youtube-icon.png') }}" alt="Youtube Logo" class="icons pull-right"></a>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

<script type="text/javascript">

    if ( window.addEventListener ) {
        var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";
        window.addEventListener("keydown", function(e){
            kkeys.push( e.keyCode );
            if ( kkeys.toString().indexOf( konami ) >= 0 ) {

                document.body.className = "maclasse";

            }
        }, true);
    }

</script>

<style type="text/css">

    @-webkit-keyframes roll {
        from { -webkit-transform: rotate(0deg) }
        to { -webkit-transform: rotate(360deg) }
    }
    @-moz-keyframes roll {
        from { -moz-transform: rotate(0deg) }
        to { -moz-transform: rotate(360deg) }
    }
    @keyframes roll {
        from { transform: rotate(0deg) }
        to   { transform: rotate(360deg) }
    }
    .maclasse {
        -moz-animation-name: roll;
        -moz-animation-duration: 4s;
        -moz-animation-iteration-count: 1;
        -webkit-animation-name: roll;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: 1;
    }

</style>

</body>
</html>