<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
<!--    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" type="text/css"> -->
<!--    <link rel="stylesheet" href="../../public/css/style.css" type="text/css"> -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% endblock %}
    <link rel="icon" sizes="144x144" href="Exia.png">
    <title>Site Web du BDE</title>
</head>
<body>
<nav class="navbar navbar-inverse bg-faded navbar-fixed-top">
    <p href="#" class="navbar-brand mb-0">Exia Cesi Arras<br/>Campus Activité BDE</p>
</nav>

<div class="jumbotron" id="main-jumbo">
    <div class="container-fluid text-center">
        <h1 id="titre">BDE EXIA ARRAS</h1>
    </div>
</div>
{{ text }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8" id="para-left">
            <p>Ce site est réservé aux étudiants, membres du BDE et aux encadrants de l'Exia CESI.</p>
            <p>sur ce site vous pourrez:</p>
            <ul>
                <li>Voir les différentes activités proposées</li>
                <li>Postuler pour participer aux activités</li>
                <li>Soumettre des activités</li>
                <li>Accéder à la boutique des goodies de l'Exia</li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="login" class="form-horizontal" method="post">
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <label for="">Email: </label>
                    <input type="email" class="form-control" id="email" name="Email">
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <label for="">Mot de Passe: </label>
                    <input type="password" class="form-control" id="password" name="Password">
                </div>

                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-danger" >Connexion</button>

                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <a href="register" target="_blank">Cliquez ici pour vous inscrire</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
<!-- <script src="../../public/js/jquery-3.2.0.min.js"></script>
<script src="../../public/js/bootstrap.min.js"></script> -->
</body>
</html>