<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription à un evenement</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
</head>


<body>

<nav class="navbar navbar-inverse bg-faded navbar-fixed-top">
    <a href="layout" class="navbar-brand mb-0">Exia Cesi Arras<br/>Campus Activité BDE</a>
</nav>

<div class="navbar navbar-inverse">
    <p href="#" class="navbar-brand mb-0">Inscription</p>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    <form action="#" class="form-horizontal" method="post">
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="">Je m'inscit à l'activité:</label>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="">Info : </label>
            <input type="info_1" class="form-control" id="info_1">
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="">Info: </label>
            <input type="info_2" class="form-control" id="info_2">
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <label for="">Info: </label>
            <input type="info_3" class="form-control" id="info_3">
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <button type="submit" class="btn btn-danger" onclick="self.location.href='activitypage.html'">Annuler
            </button>
            <button type="submit" class="btn btn-danger" onclick="self.location.href='activitypage.html'">Valider
            </button>
        </div>
    </form>
</div>

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <a href="{{ path('bde_site_mentionslegales')}}"><img src="Photo/facebook-icon.png" alt="Facebook Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/twitter-icon.png" alt="Twitter Logo" class="icons pull-right"></a>
            <a href="#"><img src="Photo/youtube-icon.png" alt="Youtube Logo" class="icons pull-right"></a>
        </div>
    </div>
</footer>


</body>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</html>