<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BDE</title>
    <link rel="icon" sizes="144x144" href="Photo/Exia.png">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>


<body>

<nav class="navbar navbar-inverse bg-faded navbar-fixed-top" id="nav-top">
    <a href="{{ path('bde_site_layout')}}" class="navbar-brand mb-0">Exia Cesi Arras<br/>Campus Activité BDE</a>
    <div class="container">
        <img src="{{ asset( users.getAvatarUsers()) }}" class="pull-right avatar">
        <p class="pull-right name-nav">Bonjour {{ users.getPrenomUsers() }}</p>
    </div>
</nav>

<div class="navbar navbar-inverse">
    <a href="{{ path('bde_site_layout')}}" class="navbar-brand mb-0">Liste activités</a>
    <a href="{{ path('bde_site_layout_activiteproposer')}}" class="navbar-brand mb-0"> Activité proposée </a>
</div>

<div class="container-fluid">
    <div class="row">
{% for activite in activites %}

<article class="col-sm-4 col-md-4 col-lg-3">
    <h3>{{ activite.getNomActivite() }}</h3>
    <img src="{{ asset(activite.getImage()) }}" style="width: 200px;">
    <label>Description de l'activité:</label>
    <p class="description-activite">{{ activite.getDescriptionActivite() }}</p>
    <p><strong>Date: </strong>{{ activite.getDateActivite()|date('d-m-Y') }}</p>
    <a href="layout/activite/{{ activite.getIdActivite() }}" class="btn btn-danger" target="_blank">Details</a>
    {% if users.getRoleUsers() == 'BDE' %}
        <a href="del/{{ activite.getIdActivite() }}" class="btn btn-danger" target="_blank"> Supprimer </a>

    {% elseif users.getRoleUsers() == 'Admin' %}

        <a href="del/{{ activite.getIdActivite() }}" class="btn btn-danger" target="_blank"> Supprimer </a>

    {% else %}
    {% endif %}
</article>

{% endfor %}
    </div>
</div>

<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav-bottom">
        <div class="container">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
                {% if users.getRoleUsers() == 'BDE' %}
                <li><a href="{{ path('bde_site_layout_add')}}">Soumettre activite</a></li>
                {% elseif users.getRoleUsers() == 'Admin' %}
                    <li><a href="{{ path('bde_site_layout_add')}}">Soumettre activite</a></li>

                 {% else %}
                    <li><a href="{{ path('bde_site_layout_add')}}">Proposer activite</a></li>
                {% endif %}
                <li><a href="{{ path('bde_site_gestion_boutique')}}">Boutique</a></li>
            </ul>
            <a href="#"><img src="{{ asset('ressources/Photo/facebook-icon.png') }}" alt="Facebook Logo"
                             class="icons pull-right"></a>
            <a href="#"><img src=" {{ asset('ressources/Photo/twitter-icon.png') }}" alt="Twitter Logo"
                             class="icons pull-right"></a>
            <a href="#"><img src="{{ asset('ressources/Photo/youtube-icon.png') }}" alt="Youtube Logo"
                             class="icons pull-right"></a>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">// <![CDATA[
        $(function(){
            $(".description-activite").each(function(i){
                len=$(this).text().length;
                if(len>80)
                {
                    $(this).text($(this).text().substr(0,250)+'...');
                }
            });
        });
        // ]]></script>
{% endblock %}

</body>
</html>